pm_api_url               = "https://10.1.5.101:8006/api2/json"
pm_tls_insecure          = true
pm_log_enable            = false
pm_log_file              = "terraform-plugin-proxmox.log"
pm_debug                 = true
pm_log_levels_default    = "debug"
pm_log_levels_capturelog = ""

# PVE Cluster Host Connection
ssh_user                    = "root"
ssh_host                    = "10.1.5.101"
provisioner_directory_path  = "/mnt/pve/pve-cluster-fs" # shared storage (NFS) for cloud-init user data file.